<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head'); %>
</head>
<body class="container">

<header>
  <%- include('header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Welcome Mail</h1>
    <p>Sent using mail-sender-expressjs app</p>
  </div>
</main>

<footer>
  <%- include('footer'); %>
</footer>

</body>
</html>